<div class="row">
  <div class="col-md-12">
    <h2>Endereço</h2>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <%= f.input :cep %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <%= f.input :endereco %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <%= f.input :numero %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <%= f.input :complemento %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <%= f.input :bairro %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <%= f.input :pais_id, collection: Pais.all,
        label_method: :nome, value_method: :id %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <%= f.input :uf_id, collection: Uf.all, label_method: :nome_por_extenso %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <%= f.input :municipio_id, collection: Municipio.all, label_method: :nome %>
    </div>
  </div>
</div>
