<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Informações cadastrais</h3>
  </div>

  <div class="box-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.input :tipo_de_pessoa_id, collection: TipoDePessoa.all, label_method: :nome_por_extenso, value_method: :id %>
        </div>
        <div class="form-group">
          <%= f.input :numero_do_documento %>
        </div>
        <div class="form-group">
          <%= f.input :inscricao_estadual %>
        </div>
        <div class="form-group">
          <%= f.input :inscricao_municipal %>
        </div>
        <div class="form-group">
          <%= f.input :razao_social %>
        </div>
      </div>
    </div>
  </div>
</div>
